<form class="example-form" [formGroup]="addJob">
    <mat-form-field class="example-full-width">
        <mat-label>Job title</mat-label>
        <input formControlName="lastName" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea formControlName="lastName" matInput></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Salary</mat-label>
        <input formControlName="lastName" matInput>
    </mat-form-field>
</form>
