<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{jobName}}</mat-card-title>
        <mat-card-subtitle>{{companyName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Description: {{jobDescription}}
        </p>

        <p>
            Requirements: {{requirementsDescription}}
        </p>

        <p>
            What we offer: {{jobDescription}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Apply for this job</button>
    </mat-card-actions>
</mat-card>
